<h1>About#index</h1>
<p>Find me in app/views/about/index.html.erb</p>

Jungle is our online shop for curious knick knacks.

Since 1823, we've been passionate about procuring and selling cursed items.
